---
layout: default
section: dev
active: tutorials
name: Tutorials
---

<section class="page-tutorials">
  <div class="row">
    <div class="twelve columns">  
      <header class="tutorials-header">
              <h1 class="tutorials-heading heading-big">Tutorials</h1>
      </header>
    </div>
  </div>
</section>


<section class="dev-center row">
  <div class="columns twelve">
    <h2 class="dev-section-heading heading-medium">Hardware</h2>      
      <p>It's simple to connect any hardware platform you can think of to Xively. Take a look at just a few examples in guided tours below, and then browse the <a href="/dev/hardware/"><strong>hardware page</strong></a> for more ideas.</p>
  </div>
</section>

<section class="page-tutorials">
  <div class="row">
    <div class="twelve columns">    

      <ul class="tutorials block-grid three-up mobile">
        {% for tutorial in site.categories.tutorials %}

          {% for tag in tutorial.tags %}

            {% if tag == "hardware" %}

              <li class="tutorials-item">
                <div class="row">
                  <div class="tutorials-item-thumbnail five columns mobile-one">
                    <a href="{{ tutorial.url }}">
                      <img src="{{ tutorial.image | asset_path }}" alt="{{ tutorial.title }}">
                    </a>              
                  </div>
                  <div class="tutorials-item-content seven columns mobile-three">
                    <h5><a href="{{ tutorial.url | remove:'.html' }}">{{ tutorial.name }}</a></h5>
                    <p>{{ tutorial.description }}</p>
                    <!--
                    <ul class="tag-list no-bullet">
                      {% for tag in tutorial.tags %}
                        <li class="tag-list-item tag">{{ tag }}</li>
                      {% endfor %}
                    </ul>
                  -->
                  </div>
                </div>
              </li>

            {% endif %}

          {% endfor %}

        {% endfor %}
      </ul>

    </div>
  </div>
</section>

<section class="dev-center row">
  <div class="columns twelve"> 
    <p></p>   
  </div>
</section>

<section class="dev-center row">
  <div class="columns twelve">
    <h2 class="dev-section-heading heading-medium">Services</h2>  
    <p>Connect services to Xively to multiply the potential of your connected product or solution. Run analysis, create visualizations, render dashboards and more!</p>    
  </div>
</section>

<section class="page-tutorials">
  <div class="row">
    <div class="twelve columns">    

      <ul class="tutorials block-grid three-up mobile">
        {% for tutorial in site.categories.tutorials %}

          {% for tag in tutorial.tags %}

            {% if tag == "service" %}

              <li class="tutorials-item">
                <div class="row">
                  <div class="tutorials-item-thumbnail five columns mobile-one">
                    <a href="{{ tutorial.url }}">
                      <img src="{{ tutorial.image | asset_path }}" alt="{{ tutorial.title }}">
                    </a>              
                  </div>
                  <div class="tutorials-item-content seven columns mobile-three">
                    <h5><a href="{{ tutorial.url | remove:'.html' }}">{{ tutorial.name }}</a></h5>
                    <p>{{ tutorial.description }}</p>
                    <!--
                    <ul class="tag-list no-bullet">
                      {% for tag in tutorial.tags %}
                        <li class="tag-list-item tag">{{ tag }}</li>
                      {% endfor %}
                    </ul>
                  -->
                  </div>
                </div>
              </li>

            {% endif %}

          {% endfor %}

        {% endfor %}
      </ul>

    </div>
  </div>
</section>

<section class="dev-center row">
  <div class="columns twelve"> 
    <p></p>   
  </div>
</section>

<section class="dev-center row">
  <div class="columns twelve">
    <h2 class="dev-section-heading heading-medium">Learning about Xively</h2>   
    <p>Learn what's possible with Xively by getting hands on with the Developer Workbench, the Manage Console, and more.</p>   
  </div>
</section>

<section class="page-tutorials">
  <div class="row">
    <div class="twelve columns">    

      <ul class="tutorials block-grid three-up mobile">
        {% for tutorial in site.categories.tutorials %}

          {% for tag in tutorial.tags %}

            {% if tag == "process" %}

              <li class="tutorials-item">
                <div class="row">
                  <div class="tutorials-item-thumbnail five columns mobile-one">
                    <a href="{{ tutorial.url }}">
                      <img src="{{ tutorial.image | asset_path }}" alt="{{ tutorial.title }}">
                    </a>              
                  </div>
                  <div class="tutorials-item-content seven columns mobile-three">
                    <h5><a href="{{ tutorial.url | remove:'.html' }}">{{ tutorial.name }}</a></h5>
                    <p>{{ tutorial.description }}</p>
                    <!--
                    <ul class="tag-list no-bullet">
                      {% for tag in tutorial.tags %}
                        <li class="tag-list-item tag">{{ tag }}</li>
                      {% endfor %}
                    </ul>
                  -->
                  </div>
                </div>
              </li>

            {% endif %}

          {% endfor %}

        {% endfor %}
      </ul>

    </div>
  </div>
</section>




<!-- Applications: Building applications that help bring your connected products to life is easy with Xivey. See how its done and then find the library you need for your project. -->
