<footer class="app-footer" role="contentinfo">
  <div class="app-footer-inner row">
    <section class="app-footer-links eight columns">
    <ul class="block-grid four-up mobile-two-up">
      <li class="footer-section">
      <h3 class="footer-section-title">About Us</h3>
      <ul class="no-bullet">
        <li class="footer-accent-links"><a href="/login/">Login</a> / <a href="/get_started/">Get Started</a></li>
        <li><a href="/whats_xively/">Platform</a></li>
        <li><a href="/pricing/">Pricing</a></li>
        <li><a href="/partners/">Partners</a></li>
        <li><a href="/company_info/">Company info</a></li>
        <li><a href="/jobs/">Jobs</a></li>
      </ul>
      </li>

      <li class="footer-section">
      <h3 class="footer-section-title">Support</h3>
      <ul class="no-bullet">
        <li><a href="/dev/docs/api/">API Documentation</a></li>
        <li><a href="/dev/libraries/">Libraries</a></li>
        <li><a href="/faqs/">FAQs</a></li>
        <li><a href="/dev/help/">Help</a></li>
      </ul>
      </li>

      <li class="footer-section">
      <h3 class="footer-section-title">Learn</h3>
      <ul class="no-bullet">
        <li><a href="/showcase/">Showcase</a></li>
        <li><a href="{{ site.globals.blog_url }}">Blog</a></li>
        <li><a href="/dev/tutorials/">Tutorials</a></li>
        <li><a href="/dev/hardware/">Hardware</a></li>
      </ul>
      </li>

      <li class="footer-section">
      <h3 class="footer-section-title">Media</h3>
      <ul class="no-bullet">
        <li><a href="/news/">News</a></li>
        <li><a href="/press_releases/">Press Releases</a></li>
        <li><a href="/events/">Events</a></li>
        <li><a href="/awards/">Awards</a></li>
        <li class="footer-social-icons">
        <a href="{{ site.globals.facebook_url }}" class="facebook"><i class="icon-facebook"></i></a>
        <a href="{{ site.globals.twitter_url }}" target="_blank" class="twitter"><i class="icon-twitter"></i></a>
        <a href="{{ site.globals.gplus_url }}" class="google-plus"><i class="icon-google-plus"></i></a>
        </li>
      </ul>
      </li>
    </ul>
    </section>

    <section class="app-footer-copyright four columns">
    <h1 class="footer-logo">
      <a href="/">Xively</a>
    </h1>
    <p class="footer-company">Copyright &copy; 2003-2013 LogMeIn, Inc. <br>All rights reserved.</p>
    <p class="footer-terms"><a href="https://secure.logmein.com/policies/privacy.aspx">Legal Info</a></p>
    <a class="footer-contact" href="/contact_us/">Contact Us <i class="button-icon icon-arrow-right"></i></a>
    </section>
  </div>
</footer>
