<nav class="app-header-bar top-bar clearfix" role="navigation">
  <ul class="app-header-branding">
    <li class="app-header-logo name">
      <h1 class="app-header-logo-heading">
        <a class="app-header-logo-link" href="/">Xively</a>
      </h1>
    </li>
    <li class="app-header-toggle toggle-topbar">
      <a href="#">
        <span class="app-header-toggle-text">Menu</span>
        <i class="icon-menu"></i>
      </a>
    </li>
  </ul>

  <section class="app-header-content">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="app-header-login {% if page.section == 'login' %}active{% endif %}">
        <a href="/login/">Login</a>
      </li>
      <li class="app-header-signup {% if page.section == 'signup' %}active{% endif %}">
        <a class="button" href="/get_started/">Get Started</a>
      </li>
    </ul>
  </section>
</nav>
