
<li class="app-header-search has-dropdown">
  <a href="/search/"><i class="icon-search"></i></a>
  <ul class="dropdown">
    <li class="module-search">
      <h4>Search</h4>
      <form class="module-search-form" action="/search" method="get">
        <input id="header-search" class="module-search-input" type="text" name="q" placeholder="Search">
        <label for="header-search" class="module-search-label icon-search"></label>
      </form>
    </li>
  </ul>
</li>

<li class="app-header-search-small module-search">
  <form class="module-search-form" action="/search" method="get">
    <input id="header-search" class="module-search-input" type="text" name="q" placeholder="Search">
    <label for="header-search" class="module-search-label icon-search"></label>
  </form>
</li>
