/* -------------------------
 * Colors
*/

$alertDarkColor: #B33026;
$successDarkColor: #217B4F;

// Accent

$orangeColor: #FF7000;
$orangeDarkColor: #d95e16;
$yellowColor: #FFB60F;

// Grays

$gray: #A5AEB6;
$grayDark: #51626F;
$black: #111C24;
$grayText: #8996a0;
$gray-bkg: #ebf0f2;

$lightBlue-bkg: #E1F1F9;

//Greens

$greenColor: #00c375;
$darkGreen: #09945d;