/* -------------------------
 * Sloth - Header
*/

.clearfix {
	clear: both;
    padding: 0 !important;
}

.search-bar{
	background-color: #FFFFFF;
	height: 50px;
	.search-bar-inner{
		margin:0 auto;
		max-width:1000px;
		.search-bar-right{
			float:right;
			width: 265px;
			padding-right: 15px;
			.module-search-label {
			  position: absolute;
			  left: 160px;
			  border: none;
			  padding: 0;
			  background: none;
			  cursor: pointer;
			  .icon-search{
				  border: none;
				  padding: 0;
			  }
			}
			.search-bar-login{
				float: left;
				display: block;
				padding-top: 15px;
				font-size:16px;
			}	
			.module-search-form{
				float: right;
				display: block;
				.header-search input{
					color:#000000;
				}
				input.module-search-input{
					padding: 0.14286em 2.21429em 0.07143em 0.71429em;
					background-color: #DFE5E6;
					color: #000000;
				}
			}
		}
	}
}
.app-header { 
	.top-bar ul > li a.app-header-logo-link:hover, .app-header .top-bar ul > li a.app-header-logo-link:focus {
		background-position: center top;
  	}
	.top-bar ul > li.has-dropdown a:not(.button) {
	    padding-right: 1.5em;
	}
	.top-bar ul > li.has-dropdown a:after {
	  	border-color: $orangeColor transparent transparent transparent;
	}
	.top-bar ul{
		max-width: 1000px;
		margin: 0 auto;
	}
	.headermenu{
		background-color: #111C24;
	}
	.app-header-search, .app-header-login{
		display: none !important;
	}

	@media (max-width: em(930px,16px)) {
    .app-header-login {
		display: block !important;
		}	
	}

	.app-header-signup {
		margin-top: 12px;
	
		.button {
			padding: 10px 20px 11px;
			}
    }
    .social{
	float:right;
	width: 150px;
	height: 50px;
	.bloglink{
		padding-top: em(14px);
		display: block;
		float: left;
	}
	.social-box{
		float: right;
    background: url("https://d15n4q3o4x3svq.cloudfront.net/assets/filter-social.png") no-repeat 0 3px;
    width: 95px;
    height: 50px;
    position: relative;
  }
	.social-box > div{
		    width: 100%;
		    position: absolute;
		    left: 0;
		}

	.social-box:hover{
	    cursor: pointer;
	}
	@media (max-width: em(930px,16px)) {
		display:none;
		}
	a.bloglink{
		color:$gray;
		text-decoration:none;
		font-weight:bold;
		}
	a:hover.bloglink{
		text-decoration:none;
		}
	}
    .social-drawer{
    width: 100% !important;
    background: #111c24;
    max-width: 100% !important;
    overflow-x: auto;
    z-index: 98;
    position: fixed;
    display: none;
    a.email{
	    width: 20px;
	    height: 20px;
	    display: block;
	    float: right;
	    margin-left: 20px;
	    padding-top: 2px;
	}
	
	a.more{
	   margin-left: 20px;
	   float: right;
	}
	a.btng{
		display: block;
	    float: left;
	    margin: 0 40px 0 450px;
	    padding: 0;
		}
	}
	.social-drawer > div{
	    text-align: right;
	    padding: 10px 0;
	    max-width: 950px;
	    margin: 0 auto;
	}
	.social-drawer div.mr_social_sharing_wrapper{
	    margin: 0 auto;
	    text-align: right;
	    width: 63%;
	    padding: 10px 0;
	}
}

.iegt9 .app-header .top-bar ul > li {
    margin-left: 4px;
}

.sticky-wrapper {
  float:none;
  left:0;
  width:100%;
  z-index:99;
  .app-header{
  	z-index:99;
	  .subnav-bar, .headermenu{
		  z-index:99;
	  }
  }
}
.app-main-inner{z-index: 0}

@media (min-width: em(930px,16px)) {
	.headermenu{
		padding: 15px 0;
	}
}
@media (max-width: em(930px,16px)) {
	.search-bar {
		display: none;
	}
	.app-header{
	position: fixed;
    top: 0;
	}
}

.lt-ie9 {
	.app-header{
		.app-header-search, .app-header-login{
			display: none;
		} 
	}
}


