/* ---------------------------------
 * Pages - Tutorial
*/

.page-apidoc {

  .apidoc-column-sidebar {
    width: 30%;

    @media (max-width: em(768px,16px)) {
      margin-bottom: 30px;
    }    
  }

  .apidoc-column-right {
    width: 69%;

    @media (min-width: em(768px,16px)) {
      padding-left: em(40px);
    }
  }

  .apidoc-sidebar-title {
    @include font-size(18px);
    line-height: em(20px,18px);
    margin-bottom: em(24px,18px);
  }

  p,
  li {
    max-width: em(580px);
    line-height: em(20px);
    color: $txtColor;

    @media (min-width: em(768px,16px)) {
      @include font-size(16px);      
      max-width: em(580px,16px);
      line-height: em(24px,16px);
    }
  }

  .apidoc-header {
    margin: em(30px) 0 em(15px);

    @media (min-width: em(768px,16px)) {
      margin: em(50px) 0 em(30px);
    }
  }

  .apidoc-header-heading {
    margin: 0;
  }

  .apidoc-section {
    min-height: 1px;

    &:first-child {
      h1:first-child,
      h2:first-child {
        margin-top: -14px;
      }

      h3:first-child {
        margin-top: -7px;
      }
    }
  }

  .apidoc-sidebar {
    padding: em(20px);
    background: $grayLightest;
    min-width: 220px;

    li,
    p,
    a {
      @include font-size(14px);
      line-height: em(16px);
      margin-bottom: em(5px);
    }

    p {
      font-style: normal;
    }

    li {
      margin-bottom: em(7px,16px);

      a {
        display: block;
      }

      &.active {
        font-weight: bold;

        & > p > a {
          text-decoration: underline;
          color: darken($mainColor, 15%);
        }
      }
    }

    ul {
      margin-left: 14px;
    }

    .apidoc-sidebar-link {
      &.active {
        color: darken($mainColor,15);
        text-decoration: underline;
      }
    }

    .apidoc-sidebar-section {
      position: relative;

      &.has-toggle {
        & > .apidoc-sidebar-link {
          margin-left: 14px;
        }
      }
    }

    .apidoc-sidebar-level-1 {
      margin-left: 0;
      margin-bottom: 0;

      & > li > p,
      & > li > a {
        @include font-size(16px);
        line-height: em(18px,16px);
        margin: em(10px,16px) 0;
        font-weight: bold;
      }
    }

    .apidoc-sidebar-level-2 {
      & > li {
        margin: 1em 0;
      }

      & > li > p,
      & > li > a {
        margin: em(7px) 0;
        font-weight: bold;
      }
    }

    .apidoc-sidebar-toggle {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 14px;
      margin: 0 !important;

      span {
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 7px solid $mainColor;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
      }

      &:hover,
      &:focus {
        span {
          border-left-color: darken($mainColor,15);
        }
      }

      &.active,
      &.toggle-active {
        span {
          border: none;
          border-top: 7px solid $mainColor;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
        }
      }
    }

    .apidoc-sidebar-level-3,
    .apidoc-sidebar-level-4 {
      display: none;

      &.active {
        display: block;
      }
    }

    .apidoc-sidebar-level-4,
    .apidoc-sidebar-level-5 {
      li,
      p,
      a {
        @include font-size(12px);
        line-height: em(14px,12px);
        margin: em(5px,12px) 0;
      }
    }

    .apidoc-sidebar-level-5 {
      li,
      p,
      a {
        font-style: italic;
      }
    }

    @media (max-width: em(768px,16px)) {
      position: static !important;
      width: auto !important;
    }
  }

  .apidoc-content {
    ul,
    li {
      list-style: disc inside;
    }
    
    h1 {
      padding-top: em(14px,30px);
      margin: em(28px,30px) 0 em(20px,30px);
      font-size: em(30px);
      line-height: em(34px,30px);
    }

    h2 {
      padding-top: em(14px,24px);
      margin: em(20px,24px) 0 em(18px,24px);
      font-size: em(24px);
      line-height: em(28px,24px);
    }

    h3 {
      padding-top: em(7px,20px);
      margin: em(18px,20px) 0;
      font-size: em(20px);
      line-height: em(24px,20px);
    }

    ol {
      counter-reset: step-counter;
      margin: em(14px) 0 0 0;

      li {
        position: relative;
        color: $txtColor;
        padding-left: em(30px,16px);
        margin-bottom: em(20px,16px);
        list-style: none;

        &:before {
          content: counter(step-counter);
          counter-increment: step-counter;
          position: absolute;
          left: -15px;
          top: 0px;
          min-width: em(30px,24px);
          @include font-size(24px);
          line-height: 1em;
          color: $mainColor;
          text-align: right;
        }

        a {
          &:target {
            color: red;
          }
        }
      }
    }

    .apidoc-tabs {
      height: auto;
      margin: em(24px) 0 0;
      border: none;
      @include clearfix();

      dd, 
      li {
        border: none;

        a {
          padding: 0 em(14px);
          border: none;
          font-weight: bold;
          color: darken($gray,5);
          height: auto;

          &:focus,
          &:hover {
            color: $mainColor;
          }
        }

        &.active {
          margin-top: 0;

          a {
            color: $mainColor;
            background-color: $grayLightest;
            border: none;
          }
        }
      }
    }

    .apidoc-tabs-content {
      margin: 0 0 em(24px);
      padding: 1em;
      background: $grayLightest;

      .gist {
        margin: 0;
      }

      li {
        max-width: none;
      }
    }

    @media (min-width: 47.9375em) {
      .apidoc-tabs {
        dd, 
        li {
          a {
            padding: em(7px) em(24px);
            @include font-size(16px);
          }
        }
      }
    }
  }

  .code-examples {
    table.code-examples-table {
      border: none;
      border-collapse: collapse;
      margin: 0;

      thead {
        background: none;
        border-bottom: 1px solid darken($grayLightest,5);

        &.code-examples-body {
          border-bottom: none;
        }

        &:first-child tr th {
          padding-top: 7px;
        }

        tr {
          th {
            @include font-size(18px);
            padding: 18px 10px 7px; 

            &:first-child {
              padding-left: 0;
            }

            &:last-child {
              padding-right: 0;
            }
          }
        }
      }

      tbody {
        tr {
          td {
            padding: 7px 10px; 

            &:first-child {
              width: 15%;
              padding-left: 0;
              font-weight: bold;
              color: $grayDark;
            }

            &:last-child {
              padding-right: 0;
            }
          }
        }
      }
    }

    .apidoc-tabs {
      margin-top: 7px;
    }

    .apidoc-tabs-content .gist {
      margin-left: -7px;
    }

    .gist .gist-file .gist-data {
      background: #fff;
    }

    .gist .gist-file {
      margin-bottom: 0;
      border: none;
    }

    .gist .gist-file .gist-data .line-numbers,
    .gist .gist-file .gist-meta {
      background: $grayLightest;
      color: $gray;
    }

    .gist .gist-file .gist-meta {
      color: $grayDark;
    }

    .gist .gist-file .gist-meta a {
      &,
      &:link,
      &:visited {
        color: $mainColor;
      }

      &:hover,
      &:focus {
        color: darken($mainColor,15);
      }
    }
  }
}