.brand-partners {

  h4 {
    margin-top: em(30px,24px);
  }

  .unstyled {
    li {
      margin-bottom: 2px;
    }
  }

  .dev-section {
    .heading-medium {
      margin-bottom: 20px;
    }
  }

  @media (min-width: em(560px,16px)) {
    .dev-section {
      .heading-medium {
        margin-bottom: 40px;
      }
    }
  }

  @media (max-width: em(500px,16px)) {
    .mobile-one {
      width: 100% !important;
    }

    .mobile-three {
      width: 100% !important;
    }
  }

}

.brand-partners-logo {
  margin-bottom: em(30px);
}

.brand-partners-logo-dark {
  padding: 10%;
  background: $grayDark;
}