.hero.companyinfo-hero{
  background: $mainColor url("https://d1ita7utfg6pwh.cloudfront.net/assets/hero-bg-4.jpg") repeat center -101px;

	h1,h2,p{
	color: white;		
	}
	.hero-content {
    background-color: $mainColor;
    background-color: rgba($mainColor,.85);

		h2{
			margin-bottom: em(30px);
		}
	}	

  p {
    margin-bottom: 60px;
  }
}

/* Opacity filter for ie8,7*/
.lt-ie9 .hero.companyinfo-hero .home-hero-content {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}
.companyinfo-hero-content-second{
	margin-bottom: -50px;
	.button{
		float: left !important;
	}
	.mobile-four{
		width: auto !important;
	}

  .hero-tagline-small {
    margin-bottom: 30px;
  }

  .button {
    margin-bottom: 60px;
  }
}

.content-section-companyinfo{
	padding-top: em(50px);
	p,ul li{
		@extend .body-font;
	}
	blockquote p{
		font-size: em(10px);
	}
	section.row{
		margin-bottom: em(50px);
	}
}
.module-employees{
	h2{
		font-size: em(30px);
		margin-top: em(20px);
	}
	h3{
		color: $grayText;
		margin-bottom: em(25px);
	}
}
