.header-section-contactus {
  margin-bottom: 10px;

  @media (max-width: 500px) {
    .text-center {
      text-align: left;
    }
  }

  @media (min-width: 500px) {
    margin-bottom: 20px;
  }

  @media (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.content-section-contactus{
	p,ul li{
    line-height: em(18px);

    @media (min-width: em(560px,16px)) {
      @include font-size(16px);
      line-height: em(20px,16px);
    }
	}

  .twelve {
    margin-bottom: 20px;
  }

  .icon {
    position: relative;
    top: -.15em;
    float: left;
    font-size: 1.85em;
    color: $mainColor;
  }

  .teaser {
    padding-bottom: 0;

    .content {
      max-width: 280px;
    }

    p {
      margin-bottom: 0;
    }

    .heading-small {
      margin-bottom: 7px;
    }
  }

  &.locations {
    padding: 30px 0;
    margin-bottom: -50px;
  }

  @media (min-width: 450px) and (max-width: 767px) {
    .block-grid.three-up li {
      width: 50%;
      clear: none !important;
    }
  }

  @media (min-width: 767px) {
    .teaser {
      margin: 25px 0;
    }
  }
}