.getstarted-section {
  margin-top: 5em;
}

.getstarted-subtext {
  margin-top: 1em;
}

.getstarted-form-item, .getstarted-form-desc{
	padding-top:30px;
	label{
	font-size: 14px;
	}
}

.whatscosm-section 
	{
	p.terms{
	color: #111C24;
	font-size: 12px;
	padding-top: 8px;
	}
	.clickem{
	font-size:13px;
	}
}
.responsive-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	padding-top: 30px; 
	height: 0; 
	overflow: hidden; 
	}
.responsive-container iframe { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}
#autoemailshow {
	color: #0085CF;
	cursor: pointer;
}

#autoemailshow:hover{
	text-decoration: underline;
} 

.form-field{
	h4{
		margin:2px 0;
	}
	.form-title{
		text-align:center;
	}
}
.form-label-aid.inline {
    padding-top: 5px;
}
.form-error {
    background: none repeat scroll 0 0 #FD4239;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: -13px;
    padding: 6px 4px;
}
@media (max-width: 768px) {
	.hidden-on-mobile {
		    display: none;
	 }
	 .terms, .clickem{
			padding: 0 2em;
			}
  .getstarted-section,
  .whatscosm-howitworks {
    margin-top: 0;

    .getstarted-item {
      padding-left: 15px;
    }
    .getstarted-form-item {
    padding: 0px;
	}
  }  

  .getstarted-item {
    margin-bottom: 2em;

    &:last-child {
      margin-bottom: 0;
    }

    .button {
      margin-bottom: 1em;
    }
  }
}

@media (max-width: 520px) {
    .getstarted-form-item {
    	form.form-big .form-field {
			padding: 2em;
			}
	}
 }  

