/* --------------------------------
 * Pages - Home Page
*/

.home-hero {
  background: $mainColor url("https://d1ita7utfg6pwh.cloudfront.net/assets/hero-bg-4.jpg") repeat center -101px;
  color: $white;
  .carousel-control.left {
    background: transparent url("https://d15n4q3o4x3svq.cloudfront.net/assets/arrows.png") no-repeat;
    height: 100px;
    margin-left: -44px;
    margin-top: -46px;
    position: absolute;
    top: 50%;
    width: 32px;
  }
  .carousel-control.right {
	background: transparent url("https://d15n4q3o4x3svq.cloudfront.net/assets/arrows.png") no-repeat ;
	background-position: -33px 0 !important;
	height: 100px;
    margin-right: -44px;
    margin-top: -46px;
    position: absolute;
    top: 50%;
    width: 32px;
  }
  .feature-graphic-wrapper{
	  margin: 40px 0;
  }
  .row {
  	margin-bottom: 70px;
  }
  .carousel-inner {
  	height:400px;
  }
  .carousel-indicators {
    bottom: 0px;
	}
   @media (max-width: em(750px,16px)) {
		.mobile-two {
			width: 100% !important;
		}
		.carousel-inner {
  			height:auto;
  		}
	}
	@media (max-width: em(1000px,16px)) {
  		.carousel-control.left, .carousel-control.right {
    	display:none;
  		}
  	}
}


.home-news {
    padding: em(14px) 0;
    float: left;
    width: 800px;
}

/* Opacity filter for ie8,7*/
.lt-ie9 .home-news{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}

.home-news-heading,
.home-news-story {
  @include font-size(16px);
  line-height: em(18px,16px);
  margin: 0;
  float: left;

  @media (min-width: em(768px,16px)) {
    @include font-size(20px);
    line-height: em(22px,20px);
  }
}

.home-news-heading {
  margin-right: em(30px,20px);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.home-news-story {
  .icon-arrow-right {
    @include font-size(16px);
    margin-left: em(3px,16px);
    color: $white;
  }
}

.home-hero-content {
  padding: em(15px) 0;
  background-color: $mainColor;
  background-color: rgba($mainColor,.85);
}
/* Opacity filter for ie8,7*/
.lt-ie9 .home-hero-content {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}

.hero-tagline-big.hero-tagline-big-home {
  margin-top: em(5px,6px);
  margin-bottom: em(5px,36px);
  @include font-size(36px);
  line-height: em(36px,36px);
  color: white;
  letter-spacing: -.05em;

  @media (min-width: em(768px,16px)) {
    margin-top: em(10px,12px);
    margin-bottom: em(5px,42px);
    @include font-size(42px);
    line-height: em(46px,42px);
  }

  @media (min-width: em(1110px,16px)) {
    margin-top: em(5px,6px);
    margin-bottom: em(10px,48px);
    @include font-size(52px);
    line-height: em(52px,48px);
  }
}

.hero-tagline-small-home {
  margin-top: em(5px,20px);
  margin-bottom: em(10px,10px);
  @include font-size(30px);
  line-height: em(34px,30px);
  color: $grayDark;
  font-weight: normal;
  letter-spacing: -.05em;

  @media (min-width: em(768px,16px)) {
    margin-bottom: em(10px,10px);
  }

  @media (min-width: em(1110px,16px)) {
    margin-top: em(14px,24px);
    margin-bottom: em(11px,11px);
    @include font-size(30px);
    line-height: em(34px,30px);
  }
}

.hero-tagline-link-home a, .hero-tagline-link-home a:hover, .hero-tagline-link-home a:active{
  color: #fff;
  text-decoration:none;
}

.hero-get-started,
.hero-get-started.button.large {
  float: left;
  clear: left;
  padding: em(22px,18px) em(40px,18px) em(24px,18px);
  margin-top: em(30px,18px);
  @include font-size(18px);
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: .05em;

  @media (min-width: em(768px,16px)) {
    float: right;
    clear: none;
    margin-top: em(50px,18px);
  }
}

.hero-tagline-small-home {
	  color: $white;
  }

.hero-video {
  

  .icon-play-2 {
    @include font-size(20px);
    line-height: 1em;
  }

  .hero-video-caption {
    margin-top:-20px;
    @include font-size(25px);
    font-weight: bold;
    white-space: nowrap;
    display: block;
    margin: -50px 0 0 20px;
    a:hover{
	    text-decoration: none;
    }
  }

  &:hover,
  &:focus {
    text-decoration: none;

    .hero-video-caption {
      text-decoration: underline;
    }
  }
}
.content-section-home {
	.feature{
		.feature-graphic-wrapper{
			img {
				vertical-align: middle;
				}
		}
	}
}
.content-section,.content-section-home {
	padding-top: 0;
  .section-intro {
    margin-top: em(30px);
    margin-bottom: em(30px);

    @media (min-width: em(768px,16px)) {
      margin-top: em(60px);
      margin-bottom: em(40px);
    }

    .heading-big {
      margin: 0 auto em(24px,44px);
      max-width: 770px;
      color:$orangeColor;
      
      span {
        display: block;
      }

      @media (min-width: em(190px,16px)) {
        text-align: center;
      }
    }
		.lt-ie9 .heading-big{
			text-align: center;
		}

    .accessory-lead,
    .accessory-lead-link {
      max-width: em(1000px,18px);
      margin: 0 14px;
      

      @media (min-width: em(690px,16px)) {
       /*
       remove?*/
      }
    }

		.lt-ie9 .accessory-lead,
    .lt-ie9 .accessory-lead-link {
    	text-align: center;
		}
    .accessory-lead-link {
      display: block;
    }
  } 

  .first-section {
    margin-top: em(30px);

    @media (min-width: em(768px,16px)) {
      margin-top: em(60px);
    }

    .heading-big {
      //@include font-size(32px);
      max-width: none;
    }
  }

  .feature-intro {
    margin-top: em(40px);
    margin-bottom: em(20px);

    @media (min-width: em(768px,16px)) {
      margin-top: em(70px);
      margin-bottom: em(50px);
    }

    .accessory-lead {
      margin-top: - em(10px,20px);
      @include font-size(20px);
      letter-spacing: -.05em;
      color: $grayDark;
    }
  }
}

.home-benefits {
  width: 100%;
  overflow: hidden;
}

.feature {
  position: relative;
  margin-bottom: em(24px);

  @media (min-width: em(768px,16px)) {
    margin-bottom: em(48px);
  }

  .heading-medium {
    margin-top: 0;
    margin-bottom: em(28px,36px);

    @media (max-width: em(768px,16px)) {
      @include font-size(24px);
    }
  }

  .feature-graphic {
    position: relative;
    z-index: -1;

    @media (min-width: em(400px,16px)) {
      padding: 0;
    }
  }
}

.feature.feature-1, 
.feature.feature-3 {
	background-color: $mainColor;
	z-index: 0;
}

.feature.feature-4 {
	background-color: $secondaryColor;
	z-index: 0;
}

.feature.feature-1,
.feature.feature-2,
.feature.feature-3,
.feature.feature-4 {
  padding: 0;
  margin: 0;

  @media (min-width: em(600px,16px)) {
    padding: 0;
  }

  @media (max-width: em(600px,16px)) {
    .columns {
      width: 100% !important;
    }
  }

  @media (min-width: em(768px,16px)) {
    padding: 0;
  }

  @media (max-width: em(768px,16px)) {
    .feature-graphic {
      margin-top: 0;
    }
  }
}

.feature.feature-1 {
  @media (max-width: em(750px,16px)) {
  	padding: em(40px) 0;
  	
  	.feature-graphic {
      padding: em(20px) 0;
    }
  }
  
  @media (min-width: em(750px,16px)) {
  	padding: em(40px) 0;
  	
    .feature-graphic {
      margin-top: -3%;
    }

    .feature-graphic-wrapper {
      margin: 40px 0 0 20px;
    }
  }


  @media (min-width: em(1230px,16px)) {    
    padding: em(70px) 0;

    .feature-graphic-wrapper {
      position: relative;
      right: -90px;
      margin-top: 20px;
      margin-left: -130px;
    }
  }
}

.feature.feature-4 {
  @media (max-width: em(600px,16px)) {
  	padding: em(10px) 0;
  	
    .feature-graphic {
      padding-top: em(10px);
    }
    .feature-graphic-wrapper {
      margin: 0px 10px 0 10px;
    }

  }
  
@media (min-width: em(600px,16px)) {  
    .feature-graphic-wrapper {
      margin-left: -690px;
	  margin-top: 0;
	  position: relative;
	  right: -113px;
    }
    .feature-2-text {
	    color: $mainColor;
	    padding-top: em(40px);
    }
    
  }


  @media (min-width: em(750px,16px)) {  
    .feature-graphic-wrapper {
      margin-left: -560px;
	  margin-top: 0;
	  position: relative;
	  right: -113px;
    }
    .feature-2-text {
	    color: $mainColor;
	    padding-top: em(40px);
    }
  }

  @media (min-width: em(1230px,16px)) {    
    padding: 0;

    .feature-graphic-wrapper {
      margin-left: -730px;
	  margin-top: 0;
	  position: relative;
	  right: -223px;
    }
    .feature-2-text {
	    color: $mainColor;
	    padding-top: em(80px);
    }
  }
}







.feature.feature-2 {
  @media (max-width: em(600px,16px)) {
  	padding: em(10px) 0;
  	
    .feature-graphic {
      padding-top: em(10px);
    }
    .feature-graphic-wrapper {
      margin: 0px 10px 0 10px;
    }

  }
  
@media (min-width: em(600px,16px)) {  
    .feature-graphic-wrapper {
      margin-left: -690px;
	  margin-top: 0;
	  position: relative;
	  right: -113px;
    }
    .feature-2-text {
	    color: $mainColor;
	    padding-top: em(40px);
    }
    
  }


  @media (min-width: em(750px,16px)) {  
    .feature-graphic-wrapper {
      margin-left: -560px;
	  margin-top: 0;
	  position: relative;
	  right: -113px;
    }
    .feature-2-text {
	    color: $mainColor;
	    padding-top: em(40px);
    }
  }

  @media (min-width: em(1230px,16px)) {    
    padding: 0;

    .feature-graphic-wrapper {
      margin-left: -730px;
	  margin-top: 0;
	  position: relative;
	  right: -223px;
    }
    .feature-2-text {
	    color: $mainColor;
	    padding-top: em(80px);
    }
  }
}


.feature.feature-3 {
  @media (max-width: em(600px,16px)) {
  	padding: em(10px) 0;
  	
    .feature-graphic {
      padding-top: em(10px);
    }
   }

@media (min-width: em(600px,16px)) {  
    .feature-graphic-wrapper {
      margin-right: -690px;
	  margin-top: 0;
	  position: relative;
	  left: -113px;
    }
    .feature-3-text {
	    color: $mainColor;
	    padding-top: em(40px);
    }
  }

@media (max-width: em(776px,16px)) {
    .feature-graphic-wrapper {
      margin-right: -690px;
	  margin-top: 0;
	  position: relative;
	  left: -113px;
    }
    .mobile-two:last-child{
	  float: left;
    }
    .mobile-two{
	  float: left;
    }
  }

  @media (min-width: em(750px,16px)) {
    .feature-graphic-wrapper {
      margin-right: -560px;
	  margin-top: 0;
	  position: relative;
	  left: -113px;
    }
    .feature-3-text {
	    color: $mainColor;
	    padding-top: em(40px);
    }
  }

  @media (min-width: em(1230px,16px)) {    
    padding: 0;

    .feature-graphic-wrapper {
      margin-right: -730px;
	  margin-top: 0;
	  position: relative;
	  left: -223px;
    }
    .feature-3-text {
	    color: $mainColor;
	    padding-top: em(80px);
    }
  }
}

.home-experiences {
  .section-intro {
    margin-top: 0;
  }

  @media (min-width: em(600px,16px)) {
    .section-intro {
      margin-top: em(20px);
    }
  }

  @media (min-width: em(977px,16px)) {
    .section-intro {
      margin-top: - em(30px);
    }
  }
}

.experiences-strip {
  background: $black;
  color: white;

  .contain {
    padding: 0;
    height: em(220px);
    overflow: hidden;
  }

  li {
    position: relative;
    float: left;
    width: 100%;
    height: em(220px);
    overflow: hidden;
    text-align: center;
		padding: 0;

    img {
      max-width: none;
    }

    &:first-child {
      display: none;
    }

    &:last-child {
      display: none;
    }

    @media (min-width: em(420px,16px)) {
      width: 50%;

      &:first-child {
        display: block;
      }
    }

    @media (min-width: em(640px,16px)) {
      width: 33.2%;

      &:last-child {
        display: block;
				float: none;
      }
    }
  }

  .experience-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include font-size(40px);
    line-height: em(220px,40px);
    white-space: nowrap;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -.042em;
    text-align: center;
    background-color: rgba($black,.3);
    color: white;

    @media (min-width: em(420px,16px)) {
      @include font-size(30px);
      line-height: em(220px,30px);
    }

    @media (min-width: em(768px,16px)) {
      @include font-size(36px);
      line-height: em(220px,36px);
    }

    @media (min-width: em(900px,16px)) {
      @include font-size(42px);
      line-height: em(220px,42px);
    }
  }
}

.home-join {
  .section-intro {
    margin-bottom: em(20px);
  }
}

.join-strip {
  padding: em(4px) 0 em(12px);

  .join-tile {
    display: block;
    padding: em(24px);
    background-color: white;
    
    
    .heading-small{
	 color: $mainColor;
    }

    .capped {
      @media (min-width: em(767px,16px)) {
        max-width: 200px; 
      }
    }

    .accessory-lead {
      min-height: 69px;
    }

    .accessory-lead-link {
      color: $mainColor
    }    

    &:hover,
    &:focus {
      text-decoration: none;

      .heading-small {
        color: $mainColor;
      }

      .accessory-lead-link {
        text-decoration: underline;
      }
    }
  }
}

.get-started-big {
  padding: em(60px) 0 em(30px);
  text-align: center;

  .get-started,
  .get-started.button.large {
    padding: em(22px,24px) em(48px,24px) em(24px,24px);
    margin-bottom: em(48px,24px);
    @include font-size(24px);
    line-height: 1em;
    text-transform: uppercase;
  }

  .get-started-links {
    @include font-size(30px);
    line-height: em(28px,20px);
    color: $grayText;
    letter-spacing: -.05em;
    font-weight: 300;

    @media (min-width: em(420px,16px)) {
      @include font-size(24px);
      line-height: em(28px,24px);
    }

    a {
      font-weight: bold;
    }

    span {
      display: block;

      @media (min-width: em(666px,16px)) {
        display: inline;
        margin-right: em(50px,24px);
      }
    }
  }
}

.modal-video {
  .flex-video {
    margin-bottom: 0;
  }
}
