#events-list, #news-list{
	.gallery-entry {
    border-top: 1px solid #A5AEB6;
    padding: 2em 0;
    }
}

.feature-newsevents{
	padding-top:40px
	}
.newsevents{
	.feature-graphic-wrapper{
	padding:0 30px;
	}
}

.awards{
	.heading-smallest {
    font-size: 1.6rem;
    line-height: 1.875em;
    }
    @media (max-width: em(420px,16px)) {
    	.block-grid.mobile-two-up > li {
    	width: 100%;
    	}
	}
}