.content-section-showcase {

  .showcase {
    display: block;
    position: relative;
    margin: 0;

    &:hover,
    &:focus {
      text-decoration: none;
    } 
  }

  .showcase-wrapper {
    margin-bottom: em(14px);
  }

  .showcase-description {
    .heading-small {
      margin: 0;
      font-weight: normal;
      @include font-size(18px);
      line-height: em(22px,18px);
    }

    .heading-medium {
      margin: 3px 0 0;
      line-height: 1em;
    }

    p {
      margin-top: 7px;
      margin-bottom: 0;
      line-height: em(16px);
    }
}
  .showcase-img {
    min-height: 50px;
    background: $grayLightest;
  }
  .twelve .showcase-img {
    padding-top: 38.9%;
    overflow: hidden;
  }

  @media (max-width: em(767px,16px)) {
    .showcase-wrapper {
      margin-bottom: em(40px);
    }

    .showcase-img {
      float: left;
      width: 25%;
      padding-right: 7px;
    }
    .twelve .showcase-img {
    padding-top: 0;
    overflow: hidden;
  }

    .showcase {
      .showcase-description {
        .heading-medium {
          color: $mainColor;
        }
      }
    }

    .showcase-description {
      float: right;
      width: 75%;
      padding-left: 7px;
    }

    a.showcase {
      &:hover,
      &:focus {
        .heading-medium {
          color: darken($mainColor,15);
          text-decoration: underline;
        }
      }
    }
  }

  @media (max-width: em(400px,16px)) {
    .showcase-img {
      float: none;
      width: auto;
      padding-right: 0;
      margin-bottom: 14px;
    }

    .showcase-description {
      float: none;
      width: auto;
      padding-left: 0;
    }

    .four {
      .showcase-img {
        height: 200px;
        overflow: hidden;

        img {
          position: relative;
          top: -130px;
        }
      }
    }
  }

  @media (min-width: em(768px,16px)) {
    .showcase {
      &:hover,
      &:focus {
        .hidden-content {
          display: block;
        }
      }       
    }

    .showcase-img {
      position: relative;
      padding-top: 84%;
      overflow: hidden;

      img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
      }
    }

    .showcase-wrapper {
      margin-bottom: em(14px);
	
      &:first-child {
        padding-right: 7px;
      }

      &:last-child {
        padding-left: 7px;
      }

	  &.twelve {
		padding:0 15px;
		}
      &.eight {
        .showcase-img {
          padding-top: 60.75%;
        }
      }

      &.four {
        .showcase-img {
          padding-top: 126%;
        }
      }
    }

    .showcase-description {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: em(14px);
      background: $mainColor;
      background: rgba($mainColor, .85);

      .heading-medium,
      .heading-small,
      p {
        color: #fff;
      }

      .hidden-content {
        display: none;
      }
    }
  }

}

/*** showcase page ie fixes ***/

.ie7{
  .content-section-showcase{
    section.row{
      margin-bottom: em(10px);
    }
  }
}