/* ---------------------------------
 * Pages - Tutorial
*/

.page-tutorial {
  @media (max-width: em(550px,16px)) {
    .tutorial-header-thumbnail.mobile-one {
      width: 30% !important;
    }

    .tutorial-header-content.mobile-three {
      width: 70% !important;
    }
  }

  p,
  li {
    max-width: em(580px);
    line-height: em(20px);
    color: $txtColor;

    @media (min-width: em(768px,16px)) {
      @include font-size(16px);      
      max-width: em(580px,16px);
      line-height: em(24px,16px);
    }
  }

  .tutorial-header {
    padding-bottom: em(20px);
    margin: em(30px) 0 em(15px);

    @media (min-width: em(768px,16px)) {
      margin: em(50px) 0;
    }
  }

  .tutorial-header-img {
    margin-bottom: 0;
    max-height: 205px;

    img {
      display: block;
      max-height: 100%;
    }

    @media (max-width: em(615px,16px)) {
      margin-top: 15px;
    }
  }

  .tutorial-header-description {
    color: darken($gray,10);
    @include font-size(18px);
    line-height: em(24px,18px);
    margin-bottom: 0;
  }

  .tutorial-section {
    min-height: 1px;

    &:first-child {
      h1:first-child,
      h2:first-child {
        margin-top: -14px;
      }

      h3:first-child {
        margin-top: -7px;
      }
    }
  }

  .tutorial-content {
    ul,
    li {
      list-style: disc inside;
    }
    
    h1 {
      padding-top: em(14px,30px);
      margin: em(28px,30px) 0 em(20px,30px);
      font-size: em(30px);
      line-height: em(34px,30px);
    }

    h2 {
      padding-top: em(14px,24px);
      margin: em(20px,24px) 0 em(18px,24px);
      font-size: em(24px);
      line-height: em(28px,24px);
    }

    h3 {
      padding-top: em(7px,20px);
      margin: em(18px,20px) 0;
      font-size: em(20px);
      line-height: em(24px,20px);
    }

    ol {
      counter-reset: step-counter;
      margin: em(14px) 0 0 0;

      li {
        position: relative;
        color: $txtColor;
        padding-left: em(30px,16px);
        margin-bottom: em(20px,16px);
        list-style: none;

        &:before {
          content: counter(step-counter);
          counter-increment: step-counter;
          position: absolute;
          left: -15px;
          top: 0px;
          min-width: em(30px,24px);
          @include font-size(24px);
          line-height: 1em;
          color: $mainColor;
          text-align: right;
        }

        a {
          &:target {
            color: red;
          }
        }
      }
    }
  }

  .tutorial-sidebar {
    padding: em(15px);
    background: $grayLightest;
    min-width: 200px;

    li {
      margin-bottom: em(7px,16px);

      a {
        display: block;
      }

      &.active {
        font-weight: bold;

        a {
          text-decoration: underline;
          color: darken($mainColor, 15%);
        }
      }
    }

    @media (max-width: em(768px,16px)) {
      position: static !important;
      width: auto !important;
    }
  }

  .tutorial-column-sidebar {
    @media (max-width: em(768px,16px)) {
      margin-bottom: 30px;

      .sticky-wrapper {
        height: auto !important;
      }
    }    
  }

  .tutorial-column-left {
    @media (min-width: em(768px,16px)) {
      padding-left: em(40px);
    }
  }
}

.gist {
  margin: 20px 0;

  table {
    background: none;
    border: none;
    @include border-radius(none);
    margin: 0;
  }

  .highlight {
    background: none;
  }
}

.page-tutorials {
  .tutorials-header {
    margin: em(30px) 0 em(15px);

    @media (min-width: em(768px,16px)) {
      margin: em(50px) 0;
    }    
  }

  .tutorials-item {
    .tutorials-item-content {
      padding-top: 3%;

      @media (min-width: em(768px,16px)) {
        padding-top: 5%;
      }    
    }

    h5 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 10px;
      line-height: 18px;
    }

    img {
      display: block;
      margin-right: -15px;
    }
  }

  .tutorials.block-grid.two-up>li {
    margin-bottom: 1em;
  }

  
  @media (max-width: em(550px,16px)) {
    .tutorials-item-thumbnail.mobile-one {
      width: 35% !important;
    }

    .tutorials-item-content.mobile-three {
      width: 65% !important;
    }
  }
}